.main-container {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  margin: 20px;
  background-color: greenyellow;
}

.low-level-indicators {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.level-indicator {
  display: flex;
  min-width: 100px;
  flex-direction: column;
  justify-content: center;
}

.indicator-box {
  width: 40px;
  height: 20px;
  border: solid 1px black;
}

.beverage-process-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ingredients {
  display: flex;
}

datalist {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
}

input[type="range"] {
  appearance: slider-vertical;
  margin: 0;
  width: 30px;
}

.process-indicator {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}
